# Ignore user-installed libraries
PRU_IoT_Robotics_Course_Workshop/
libraries/


# Arduino build output
*.elf
*.hex
*.bin
*.eep
*.map
*.d
*.o
*.a
*.pyc
*.class

# VSCode + PlatformIO
.vscode/
.pio/

# Mac/Linux/Windows
.DS_Store
Thumbs.db
*.swp
__pycache__/
